<div class="modal-container">
  <main class="modal">
    <section class="modal__data">
      <h2 class="heading-seccondary modal__movie-title">
        The Bourne Identity
      </h2>
      <div class="modal__movie-meta">
        <span class="modal__movie-common">
          English | Action | 118 min
        </span>
        <span class="modal__movie-year">2002</span>
        <span class="modal__movie-rated">12</span>
      </div>
      <div class="modal__movie-data">
        <h3 class="heading-tertiary modal__movie-data-title">Plot</h3>
        <p class="modal__movie-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel faucibus eros. Mauris ullamcorper auctor dui, sit
        amet ullamcorper orci vestibulum in. In quis nibh sodales, tempor urna eu, iaculis leo.</p>
      </div>
      <div class="modal__movie-data">
        <h3 class="heading-tertiary modal__movie-data-title">Actors</h3>
        <p class="modal__movie-text">Matt Damon, Franka Potente, Chris Cooper, Clive Owen</p>
      </div>
      <div class="modal__movie-data">
        <h3 class="heading-tertiary modal__movie-data-title">Director</h3>
        <p class="modal__movie-text">Doug Liman</p>
      </div>
    </section>
    <section class="modal__poster">
      <figure class="modal__movie-img">
        <img src="../../assets/img/poster.jpg" alt="Movie poster" class="modal__movie-img-item">
      </figure>
      <div class="modal__movie-additional">
        <div class="modal__movie-additional-data">
          <span class="modal__movie-additional-title">Box Office</span>
          <span class="modal__movie-additional-text">$214 000 000</span>
        </div>
        <div class="modal__movie-additional-data">
          <span class="modal__movie-additional-title">Website</span>
          <span class="modal__movie-additional-text">http://example.com</span>
        </div>
      </div>
    </section>
  </main>
  <div class="modal-overlay"></div>
</div>
