.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--color-primary);

  flex: 0 1 20%;
}

.content {
  background-color: orange;

  flex: 1;
}

.footer {
  background-color: violet;

  display: flex;
  justify-content: center;
}
