.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--color-primary);
  flex: 0 1 20%;
<<<<<<< HEAD
=======
  min-height: 100vh;
>>>>>>> front-end-app

  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
  align-items: center;
=======
>>>>>>> front-end-app
}

.content {
  background-color: orange;

  flex: 1;
}
