.search-container {
  background-color: var(--color-primary-dark);
  height: 12vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-snippets-container {
  background-color: var(--color-primary-light-2);
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
