.card {
  background-color: var(--color-primary);
  height: calc(1.5 * 27rem) ;
  width: calc(1.5 * 18.2rem);

  margin: 2rem 0.5rem 0 0.5rem;
  position: relative;
  z-index: 1;

  &__poster {
    filter: brightness(0.2);
    height: 100%;

    &-item {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__no-poster {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      fill: var(--color-primary-dark);
      height: 50%;
      width: 50%;
    }
  }

  &__data-wrapper {
    $top: 15%;
    $bottom: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    bottom: $bottom;
    height: calc(100% - #{$top} - #{$bottom});
    left: 0;
    position: absolute;
    top: $top;
    width: 100%;
  }

  &__data {
    color: var(--color-secondary-light-2);
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  &__meta {
    margin-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;

    &-data {
      margin-bottom: 1rem;

      &--year {
        font-size: 1.6rem;
        font-weight: 500;
      }

      &--type {
        color: var(--color-grey-dark);
        font-size: 1.4rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    width: 80%;
  }
}
