.notifier {
    // opacity: 0;
    // visibility: hidden;

    position: fixed;
    right: 15%;
    top: 15%;

    background-color: green;
    border-radius: 1rem;
    color: white;
    height: 5rem;
    text-align: center;
    // transform: translate(-50%, -5%);
    // transition: 0.4s ease-in-out;
    width: 10rem;
    z-index: 100;
  }
