.notifier {
    opacity: 0;
    visibility: hidden;
    right: 5%;

    position: absolute;
    top: 15%;

    height: 6rem;
    transition: visibility 0.4s linear, opacity 0.4s linear, right 0.4s linear;
    width: 18rem;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-tertiary);
    border-radius: 5px;
    color: var(--color-grey-light);
    font-size: 1.6rem;

    &-is-visible {
      opacity: 1;
      right: 15%;
      visibility: visible;
    }
  }
