// COLORS

:root {
  --primary: #0b1124;
  --primary-dark: #06091a;
  --primary-light-1: #132133;
  --primary-light-2: #18293b;
  --secondray: #5d9dd6;
  --secondary-dark-1: #125692;
  --secondary-dark-2: #023d71;
  --secondary-light-1: #6ab2de;
  --secondary-light-2: #c0cad8;
  --tertiary: #e59f2b;
  --grey-dark: #828282;
  --grey-light: #fafafa;
}
