<h2 class="heading-secondary hits">
  <span *ngIf="movies?.length; else noMovies">We have found {{ movies.length }} movies.</span>
  <ng-template #noMovies>Start searching for movies!</ng-template>
</h2>
<div class="card-container">
  <div *ngFor="let film of movies">
    <app-card (movieDetailsRequest)="getMovieDetails($event)" [isList]="isList" [movie]="film"></app-card>
  </div>
</div>
<app-modal
  [selectedMovie]="selectedMovieDetails"
  [isDisplayed]="isModalDisplayed"
  (closeModalEvent)="modalClosed()"
></app-modal>
