<div class="snippet">
  <img src="../../assets/img/poster.jpg" alt="Poster" class="snippet__poster">
  <div class="snippet__data">
    <p class="snippet__title">
      The Bourne Identity
    </p>
    <div class="snippet__meta">
      2002 | PG-13 | 118 min
      <span>&middot;</span>
      Matt Damon, Franka Potente, Chris Cooper, Clive Owen
    </div>
    <div class="snippet__action">
      <div class="snippet__buttons">
        <button class="btn btn--ghost snippet__action-button">More</button>
        <button class="btn btn--dark snippet__action-button">Add to List</button>
      </div>
      <div class="snippet__info">
        <p class="snippet__plot">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in lobortis tellus, et feugiat purus. Suspendisse convallis
          malesuada ultricies.
        </p>
        <div class="snippet__rating">
          Imdb:
          <span class="snippet__rating--big">8.2</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="snippet">
  <img src="../../assets/img/poster.jpg" alt="Poster" class="snippet__poster">
</div>
<div class="snippet">
  <img src="../../assets/img/poster.jpg" alt="Poster" class="snippet__poster">
</div>

