.snippet {
  background-image: url('../../assets/img/poster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 27rem;
  width: 27rem;

  margin-top: 2rem;
}
