<div class="card">
  <figure class="card__poster">
    <img [src]="movie.Poster" alt="Poster" class="card__poster-item">
  </figure>
  <div class="card__data-wrapper">
    <div class="card__data">
      <p class="card__title">
        {{ movie.Title }}
      </p>
      <div class="card__meta">
        <div class="card__meta-data card__meta-data--year">{{ movie.Year }}</div>
        <div class="card__meta-data card__meta-data--type">{{ movie.Type }}</div>
      </div>
    </div>
    <div class="card__buttons">
      <button class="btn btn--ghost card__button">More</button>
      <button class="btn btn--dark card__button">Add to List</button>
    </div>
  </div>
</div>
